 
.triggerContainer{
 
    margin-left: -1537px;
    transform: translateY(37px);
 
    margin-left: -1713px;
    transform: translateY(-8px);
 
   /*  margin-left: -1713px;
    transform: translateY(-8px); */
 
}
.styledLinkContent:hover{
    color: rgb(164,212,30);
}
.menuItem{
    background-color: white;
    height: 20px;
}
.justify-between{
    color: #6E7578;
}
 
.menuContainer{
     
    overflow: visible;
} 
  
