.menuContainerNav--text2{
    margin-left: 82px;
}
/* .menuContainerNav--text6{
    margin-left: 426px;
}
.menuContainerNav--text7{
    margin-left: 120px;
} */
.menuContainerNav--text8{
    margin-left: -57px;
}
.menuContainerNav--text9{
    margin-left: 1138px;
}
.menuContainerNav--text10{
    margin-left: 1068px;
}
.menuContainerNav--text11{
    margin-left: 943px;
}
.menuContainerNav--text12{
    margin-left: 784px;
}
.menuContainerNav--text13{
    margin-left: 684px;
}
.menuContainerNav--text14{
    margin-left: 630px;
}
.menuContainerNav--text15{
    margin-left: 503px;
}