.paragraph--section__one--title{
    background-color: black; 
    
    color: white;
   
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    font-size: 30px;
    line-height: 2rem;
    margin-bottom: 5px;
    font-weight: 400;
}

.container--section__one--title{
    justify-content: center;
    transform: translateY(-26px);

}
.paragraph--section__two--title{
    position: relative;
    color: #323c47;
    font-size: 2.25rem;
    letter-spacing: 0;
    line-height: 2rem;
    margin-bottom: 1.1875rem;
}
.paragraph--section__three--title{
    background-color: black;
border-radius: 10px;
width: 227px;
 
margin-left: -87px;
height: 41px;

color: #bbe400;
font-size: .875rem;
font-weight: 900;
letter-spacing: .094rem;
font-family: Lato,sans-serif;
}
.paragraph--section__four--title{
    color: #4a4a4a;
    font-size: 2.05rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.paragraph--section__five--title{
    background-color: black;
    border-radius: 10px;
    width: 227px;
     
    margin-left: -87px;
    height: 41px;
    
    color: #bbe400;
    font-size: .875rem;
    font-weight: 900;
    letter-spacing: .094rem;
    font-family: Lato,sans-serif;
}
.paragraph--section__six--title{
    background-color: black;
    border-radius: 10px;
    width: 227px;
     
    margin-left: -87px;
    height: 41px;
    
    color: #bbe400;
    font-size: .875rem;
    font-weight: 900;
    letter-spacing: .094rem;
    font-family: Lato,sans-serif;
}
.paragraph--section__seven--title{
    background-color: black;
    border-radius: 10px;
    width: 227px;
     
    margin-left: -87px;
    height: 41px;
    
    color: #bbe400;
    font-size: .875rem;
    font-weight: 900;
    letter-spacing: .094rem;
    font-family: Lato,sans-serif;
}
.paragraph--section__two--title{
    margin-left: -183px;
}
.wrapper--section__four--title{
    margin-left: -265px;
}