.openIconContainer{
    transform: translateY(170px);
    margin-left: -3px;
   
}
.openIconContainer:hover{
    border-bottom: 2px solid greenyellow;
}
.minicartWrapperContainer{
    transform: translateY(-180px);
    
    
}
.minicartIconContainer--cart_mobile{
    margin-left: -23px; 
}