  .menuContainerNav{
    z-index: 2;
}
.triggerContainer{
    margin-left: -1713px;
    transform: translateY(-8px);
}
.styledLinkContent:hover{
    color: rgb(164,212,30);
}
.menuItem{
    background-color: white;
    height: 20px;
}
.justify-between{
    color: #6E7578;
}
.menuContainerNav{
    transform: translateY(27px);
    height: 571px;
    /* margin-left: 83px; */
}
.menuContainer{
    height: 571px;
    overflow: visible;
} 
.menuContainerNav{
    z-index: 2;
} 
