.menuIcon{
    color: rgb(255 255 255);
    
    width: 28px;
    height: 100px;
   
    border-radius: 10px;
    padding: 10px;
    height: 48px;
}
 
.opened--drawer_menu{
 
   width: 85%;
   max-width: 450px;
   min-width: 100px;
   pointer-events: auto;
    

}
 