.flexColChild--section__one--image{
    max-width: 600px;
}
.flexCol--section__two--item
:global(.vtex-store-link-0-x-buttonlink){
    background: red;
}
/* .imageElement--descuento--tittle{
    width: 3000;
    
} */
.flexRow--contenedor_beneficios{
  
border-bottom: 50px; 
margin-left: -168px;
transform: translateY(48px);

 
}
.flexRow--home__section--one{
    background-color: rgb(167,213,0);
    border-radius: 20px;
    transform: translateY(40px);
}
.flexRow--contenedor_ofertas{
    transform: translateY(80px);
    
}
.flexRow--contenedor_ofertass{
    transform: translateY(86px);
    
}
.flexRow--contenedor_ofertasss{
    transform: translateY(62px);
    
}
.flexRow--contenedor_ofertassss{
    transform: translateY(142px);
    
}
.flexRow--contenedor_ofertasssss{
    transform: translateY(164px);
    
}
.flexRow--home__section--one{
    align-items: center;
    height: 40px;
}

.flexRow--contenedor_solox{
    margin-left: -173px;
}
.flexColChild--imagen_celular{
    height: 100%;
    margin-left: -94px;
    margin-right: -145px;
}
.flexCol--imagen_audio{
    margin-right: -733px;
    width: 429px;
    height: 100%;
}
.flexCol--imagen_electro{
    margin-right: -504px;
    width: 429px;
    height: 100%;
}
.flexCol--imagen_lavadora{
    margin-left: -185px;
    width: 464px;
    height: 100%;
}
.flexCol--imagen_tenis{
    margin-left: -276px;
}
.flexCol--imagen_nevera{
    
    margin-right: 254px;
}
.flexCol--imagen_chaquetam{
    height: 100%;
    margin-left: -326px;
    margin-right: -145px;
}
.flexCol--imagen_perfumes {
    margin-right: -524px;
    /* width: 348px; */
    height: 100%;
}
.flexCol--imagen_chaquetah{
    margin-right: -733px;
    width: 374px;
    height: 100%;
}
.flexCol--imagen_jugueteria{
    margin-left: -276px;
}
.flexCol--imagen_relojes{
    margin-left: -185px;
    width: 464px;
    height: 100%;
}
.flexCol--imagen_bicicletas{
    margin-right: 254px;
}
.flexCol--imagen_juegos{
    height: 100%;
    margin-left: -326px;
    margin-right: -145px;
}
.flexCol--imagen_sofas{
    margin-right: -733px;
    width: 374px;
    height: 100%;
}
.flexCol--imagen_cama{
    margin-right: -524px;
    /* width: 348px; */
    height: 100%;
}
.flexRow--home__section--two{
    transform: translateY(82px);
}

.flexRow--contenedor_tecno{
    transform: translateY(208px);
    margin-right: 25px;
}
.flexRow--home__section--three{
    transform: translateY(144px);
    background-color: rgb(164,212,30);
    border-radius: 1.7em;
}
.flexRow--home__section--four{
  /*   transform: translateY(144px); */
    
}
.flexRow--home__section--five{
    transform: translateY(144px);
    background-color: rgb(164,212,30);
    border-radius: 1.7em;
}
.flexRow--home__section--six{
    transform: translateY(144px);
    background-color: rgb(164,212,30);
    border-radius: 1.7em;
}
.flexRow--home__section--seven{
    transform: translateY(144px);
    background-color: rgb(164,212,30);
    border-radius: 1.7em;
}
/* @media(min-with:1000px){
    :global(.vtex-store-components-3-x-searchBarContaoner){
        width: 100%;
        padding: 10px;
    }
} */
.flexRow--icon-login{
    /* transform: translateY(-11px);*/
    width: 141px; 
}
/* .flexColChild--imagen_perfumes{
    width: 0;
} */
.flexRow--row_banner_topp{
    margin-left: 410px;
}
.flexRowContent--icon-loginn{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.flexRowContent--icon-compras{
    
}
.flexRow--icon-compras:hover{
    border-bottom: 2px solid greenyellow;
}
.flexRowContent{
    display: flex;
}
.flexRowContent--icon-compras{
    width: 133px;
}
.flexRow--contenedor_navidad{
    
    transform: translateY(66px);
}
.flexRowContent--contenedor_navidad{
    margin-left: -297px;
}
.flexRowContent--contenedor_ofertass{
    gap: 3rem;
}
.flexRowContent--icon-check{
    width: 92px;
    height: 23px;
}
.flexRow--icon-check{
    transform: translateY(44px);
    margin-left: 433px;
}
.flexRow--content_products{
    /* transform: translateY(161px); */
}
.flexRow--icon-loginn{
    /* margin-bottom: 15px; */
}
.flexRow--contenedor_navidadd{
    transform: translateY(65px);
}
.flexRow--contenedor_tecnolo{
    transform: translateY(84px);
}
.flexRow--contenedor_modaa{
    transform: translateY(98px);
}
.flexRow--contenedor_calzado{
    transform: translateY(110px);
}
.flexRow--contenedor_ninos{
    transform: translateY(123px);
}
.flexRow--contenedor_belleza{
    transform: translateY(136px);
}
.flexRow--contenedor_decohogar{
    transform: translateY(147px);
}
.flexRow--contenedor_deportes{
    transform: translateY(154px);
}
.flexRow--content_productos{
    transform: translateY(103px); 
}
.flexRow--home__section--twooo{
    transform: translateY(136px);
}
.flexRow--home__section--fourr{
    transform: translateY(78px);
}
.flexRowContent--icon-checkk{
    width: 31px;
    height: 16px;
}
.flexRow--icon-checkk{
    transform: translateY(34px);
    margin-left: 13px;
}
.flexRow--search_mobilee{
    background-color: black;
     
}
.flexRow--encuentralo{
    margin-left: 153px;
}
.flexCol--contenedor_teayudamos{
    margin-left: -227px;
}
 .flexCol--contenedor_nuestraempresa{
    margin-left: 175px;
 }
 .flexCol--contenedor_unete{
    margin-left: 80px;
 }
 .flexRow--contenedor_footer2{
    background-color: rgb(24,24,24);
 }
 .flexRow--contenedor_footer22{
    background-color: rgb(24,24,24);;
 }
 .flexRowContent--contenedor_footer22{
    max-width: 1248px;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0 40px;
    border-top: 1px solid #333;
    margin-right: 40px;
    margin-left: 40px;
}
.flexCol--contenedor_footer2_text{
    margin-left: -19.25rem;
    margin-right: -0.25rem;
}
 .flexColChild--icon-norton{
    height: 100%;
    margin-left: 305px;
 }